@inherits LayoutComponentBase
@layout MainLayout

<div class="page-container">
    <h2 class="page-title">Gerenciar conta</h2>
    <div class="row">
        <div class="col-md-3">
            <ManageNavMenu />
        </div>
        <div class="col-md-9">
            @Body
        </div>
    </div>
</div>
