@page "/Account/ForgotPassword"

@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using RDS.Core.Models

@inject UserManager<ApplicationUser> UserManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Esqueceu a Senha?</PageTitle>

<div class="page-container">
    <div>
        <h5 class="page-title">Esqueceu a senha?</h5>
    </div>
    <div>
        <h5 class="text-primary">Esqueceu a senha?</h5>

        <div class="mt-2 text-center">
            <lord-icon
                src="https://cdn.lordicon.com/rhvddzym.json" trigger="loop" colors="primary:#0ab39c" class="avatar-xl">
            </lord-icon>
        </div>

        <div class="alert border-0 alert-warning text-center mb-2 mx-2" role="alert"
             style="background-color: #fff3cd; color: #664d03;">
            Digite seu e-mail e as instruções serão enviadas para você!
        </div>
        <div>
            <EditForm Model="Input" FormName="forgot-password" OnValidSubmit="OnValidSubmitAsync" method="post">
                <DataAnnotationsValidator/>
                @* <ValidationSummary class="text-danger" role="alert"/> *@
                <div class="form-group">
                    <label for="email" class="form-label">E-mail</label>
                    <InputText @bind-Value="Input.Email" id="email" class="form-control" autocomplete="username"
                               aria-required="true" placeholder="Digite seu e-mail"/>
                    <ValidationMessage For="() => Input.Email" class="text-danger"/>
                </div>

                <div class="cancel-add-button-container">
                    <button class="btn add-button w-100" type="submit">Enviar</button>
                </div>
            </EditForm>
        </div>

        <div class="mt-5 text-center">
            <p class="mb-0">Espere, eu lembro da minha senha...
                <a href="@LoginPath">Voltar </a></p>
        </div>
    </div>
</div>

@code {
    private const string LoginPath = "account/login";
    [SupplyParameterFromForm] private InputModel Input { get; set; } = new();

    private async Task OnValidSubmitAsync()
    {
        var user = await UserManager.FindByEmailAsync(Input.Email);
        if (user is null || !(await UserManager.IsEmailConfirmedAsync(user)))
        {
            // Don't reveal that the user does not exist or is not confirmed
            RedirectManager.RedirectTo("Account/ForgotPasswordConfirmation");
        }

        // For more information on how to enable account confirmation and password reset please
        // visit https://go.microsoft.com/fwlink/?LinkID=532713
        var code = await UserManager.GeneratePasswordResetTokenAsync(user);
        code = WebEncoders.Base64UrlEncode(Encoding.UTF8.GetBytes(code));
        var callbackUrl = NavigationManager.GetUriWithQueryParameters(
            NavigationManager.ToAbsoluteUri("Account/ResetPassword").AbsoluteUri,
            new Dictionary<string, object?> { ["code"] = code });

        await EmailSender.SendPasswordResetLinkAsync(user, Input.Email, HtmlEncoder.Default.Encode(callbackUrl));

        RedirectManager.RedirectTo("Account/ForgotPasswordConfirmation");
    }

    private sealed class InputModel
    {
        [Required(ErrorMessage = "O campo {0} é obrigatório.")]
        [EmailAddress(ErrorMessage = "O campo {0} não é um endereço de e-mail válido.")]
        public string Email { get; set; } = "";
    }

}
