@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Confirmação de recuperação de senha</PageTitle>

<h1>Confirmação de recuperação de senha</h1>
<p role="alert">
    Por favor, verifique seu e-mail para redefinir sua senha.
</p>
