@page "/Account/ResetPasswordConfirmation"
<PageTitle>Confirmação de redefinição de senha</PageTitle>

<h3>Confirmação de redefinição de senha</h3>
<p role="alert">
    @* ReSharper disable once Html.PathError *@
    Sua senha foi redefinida. Por favor <a href="Account/Login">clique aqui para entrar</a>.
</p>